.publications {
  .publication {
    display: flex;
    margin-bottom: 2em;
    
    .publication-image {
      width: 200px;
      height: auto;
      margin-right: 1em;
      object-fit: cover;
    }
    
    .publication-content {
      flex: 1;
      
      h3 {
        margin-top: 0;
      }
    }
  }
}